_id_ = id моего клиента
_hash_ = хэш его же
PG_PASSWORD = пароль от базы postgre

ifill_id = id от ifillatovacoach
ifill_hash = хэш его же
App_title = название клиента в телеге, не зачем, а чтобы было где-то записано
short_name = с такой же целью
